.users-view {
	.header {
		margin-bottom: 40px;
	}

	.user-box {
		cursor: pointer;
		margin-bottom: 20px;
		text-align: center;
	
		.login {
			&:hover {
				color: #999999;
			}
		}
	
		.avatar-box {
			.avatar {
				border-radius: 2px;
				box-shadow: 6px 6px 6px #aaaaaa;
				width: 100%;
			}
		}
	}
	
	.selected-user {
		.avatar-box {
			.avatar {
				box-shadow: 6px 6px 6px #aaaaaa;
				width: 100%;
			}
		}
	}
}
